.element {
  position: relative;
  max-height: 361px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

@media screen and (max-width: 350px){
  .element {
    width: 282px;
  }
}
