.form__input {
  border: 0;
  max-width: 358px;
  height: 20px;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin: 0;
  font-weight: normal;
  line-height: 17px;
  font-size: 14px;
  font-family: inherit;
  padding: 54px 0 13px;
  outline: none;
}

.form__input:invalid {
  border-bottom: 1px solid red;
}

.form__input:last-of-type {
  padding-top: 30px;
}

@media screen and (max-width: 555px) {
  .form__input {
    padding-top: 75px;
  }
}
