.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 394px;
  max-height: 299px;
  margin: 195px auto 0;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000;
  padding-top: 34px;
  padding-left: 36px;
  cursor: default;
}
@media screen and (max-width: 555px) {
  .form {
    width: 238px;
    margin-top: 123px;
    padding: 25px 22px 0;
  }
}
